/* common shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.btn-primary {
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: #FD6E0A;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
}

/* Header Styling */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    
    
}

.header-img {

}


/* Navbar Styling */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 170px;
    padding-top: 30px;
}

.nav-logo>h3 {
    font-size: 45px;
    font-weight: 800;
}

.nav-menu>ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
}

.nav-menu>ul>li {
    padding-left: 25px;
}

.nav-menu>ul a {
    text-decoration: none;
    color: #474747;
}

.span-logo {
    color: #FD6E0A;
}

/* Banner Styling */

.banner {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: space-between;
}

.banner-dis {
    margin-left: 170px;
    margin-top: 70px;
}

.banner-i-am {
    font-size: 43px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 3px;
}

.banner-name {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 1px;

}

.banner-name-dis {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #757575;
    margin-bottom: 19px;
    max-width: 700px;
}

.banner-img img {
    width: 550px;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: -4px;
}

.banner-btn {
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFF8F3;
    padding: 9px 18px;
    border-radius: 3px;
    margin-left: 7px;
    border: 1px solid #FD6E0A;
}

.banner-btn:hover {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 600;
    color: #FFF8F3;

}