/* common shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.btn-primary {
    color: white;
    font-size: 12px;
    font-weight: 400;
    background-color: #FD6E0A;
    border: 0;
    padding: 6px 10px;
    border-radius: 3px;
}

/* Header Styling */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position:bottom right;
}


/* Navbar Styling */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 130px;
    padding-top: 20px;
}

.nav-logo>h3 {
    font-size: 23px;
    font-weight: 800;
}

.nav-menu>ul {
    display: flex;
    list-style: none;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
}

.nav-menu>ul>li {
    padding-left: 25px;
}

.nav-menu>ul a {
    text-decoration: none;
    color: #474747;
}

.span-logo {
    color: #FD6E0A;
}

/* Banner Styling */

.banner {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: space-between;
}

.banner-dis {
    margin-left: 130px;
    margin-top: 70px;
}

.banner-i-am {
    font-size: 23px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-name {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 1px;

}

.banner-name-dis {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #757575;
    margin-bottom: 10px;
    max-width: 370px;
}

.banner-img img {
    width: 300px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: -4px;
}

.banner-btn {
    color: #FD6E0A;
    font-size: 12px;
    font-weight: 600;
    background-color: #FFF8F3;
    padding: 5px 12px;
    border-radius: 3px;
    margin-left: 7px;
    border: 1px solid #FD6E0A;
}

.banner-btn:hover {
    background-color: #FD6E0A;
    font-size: 12px;
    font-weight: 600;
    color: #FFF8F3;

}